.list {
    top: 185px;
    margin-left: 150px;
    width: 1000px;
    height: 666px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}
.icon__button {
    margin: 10px;
}

.App {
    background-color: white;
    &__Logobar {
        top: 0px;
        left: 0px;
        width: 1300px;
        height: 50px;
        background: #396cc5 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    &__Logo {
        top: 10px;
        margin-left: -1000px;
        height: 50px;
        opacity: 1;
    }
    &__btn {
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #396cc5;
        border-radius: 16px;
        opacity: 1;
        color: #396cc5;
        margin-right: -600px;
        margin-top: 10px;
    }
    &__presenter{
        background-color: rgb(239, 238, 238);
    }
}
